<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @message.subject_line %></h1>
    <p><%= @message.text %></p>

    <p>Thanks and have a great day!</p>

    <p><small>If you feel you have recieved this message in error, please contact the school administrator at schoolemail@school.com.</small></p>
  </body>
</html>
