<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Important notice for teachers at <%= @school.name %>:</h1>
    <h2>
      SchoolBox!
    </h2>
    <p>
      Teachers, we are excited to announce that we have successfully integrated SchoolBox software into our workflow - please take advantage of this to organize your class lists and communicate with the parents and guardians of your students as needed. We will be having an official employee training session on Friday, September 5th - until then , please feel free to explore the site on your own. 
    </p>

    <p>Thanks and have a great day!</p>

    <p><small>If you feel you have recieved this message in error, please contact the school administrator at <%= @school.email %>.</small></p>
  </body>
</html>