<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Important notice from <%= @school.name %>:</h1>
    <h2>
      Harvest Dance this Friday:
    </h2>
    <p>
      We will be hosting a dance this Friday starting at 4pm, which will include harvest-themed games and fun. Please ensure that your child(ren) enjoy the evening responsibly and arrive home safely.
    </p>

    <p>Thanks and have a great day!</p>
  </body>
</html>