<h2><%= @classroom.subject %> (<%= link_to "Edit", edit_classroom_path(@classroom) %>, <%= link_to "Delete", classroom_path(@classroom), method: :delete, data: {confirm: "You sure?"} %>)</h2>
<h3><%  %></h3>