<div class='front-page'>
  <section>
    <div class='header-holder'>
      <div class='text-center school-title'>
        <p>SchoolBox</p>
      </div>
    </div>
  </section>
<div class="container">


<section class='about-section'>
  <div class='schoolbox-about'>
    <h1 class='about-header'>About SchoolBox</h1>
      <br>
        <p class='about-paragraph'>SchoolBox was built so that Parents and Teachers could stay connected without giving the responsibilty of transposrting information to the children.  It is an all encompassing web aplication that gives the Teacher the ability to send batch emails to all of the students in their respective classes, or email a parent directly if they have concerns directly related to their child.  The Teachers can send out anything from permission slips to report cards.  It lets teachers keep information organised in a nice warm environment.... BLAH BLAH BLAH</p>
    <h1 class='about-header'>Features</h1>
      <br>
        <p class='about-paragraph'>Features that schoolbox can give you!</p>
    
  </div>
</section>


<!-- Different login box if we dont want it in the nav-bar -->
  <form action='' method='' class='form-sign-in'>
    <div class='sign-in-holder'>
      <h2 class='form-sigin-header'>Sign In</h2>
      <div class='login-wrap'>
        <div class='user-login-info'>
          <input type='text' name='email' placeholder='Username' class='form-control text-center'><br>
          <input type='text' name='password' placeholder='Password' class='form-control text-center'><br>
        </div>
        <div class='login-btn text-center'>
          <button type='submit' name='signup' class='btn btn-danger'>Sign In</button>
        </div>
    </div>
  </form>



</div>
