<section id='message-form'>
  <div class='form-create-container shadow borders'>
    <div class='message-content'>
      <h2>Send a message: </h2><br>
      <%= render "form" %>
     </div>
  </div>
</section>