<div class='container'>

<h1>Sign In</h1>

<input type='text' placeholder='username' class='form-control'>
<input type='password' placeholder='password' class='form-control'>
<button class='btn btn-default' type='submit'>Submit</button>



</div>