<p>Admin Dashboard</p>
<!-- things we need on this page
1.list of all the teachers associated with that school
2.list of all the classes and teachers associated with those classes 
3.a button to email the entire parent list a newsletter or emergency notice
4.buttons to add teachers, students, and parents...??!!?!??!!!-->
<div class='container'>
  <ul class="nav nav-tabs nav-justified" role="tablist">
    <li><a href="/admin_teachers">Teachers</a></li>
    <li><a href="/admin/classrooms">Classrooms</a></li>
    <li><a href="/admin/students">Students</a></li>
    <li><a href="/admin/messages">Messages</a></li>
  </ul>
</div>