.single-student-photo{
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 4px solid white;
  border-radius: 5px;
  background-image: url('/images/nopicture.png');
  background-size: 100px 90px;
  margin-right: 20px;
  float: left; 
}

.student-info div{
  display: inline-block;
}

.student-info h4 {
  text-align: left;
}

.student-body {
  display: inline-block;
  width: 40%;
  height: 100%;
  margin-left: 9%;
  left: 0px;
  background-color: white;
  padding: 20px;
}

.chat-body {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
}

#chat-box {
  margin: 25px;
  height: 85%;
  position: relative;
}

#user-chat-input {
  margin: auto;
  width: 80%;
}

.chat-button {
  margin-bottom: 2px;
}

.chat-form {
  width: 80%;
  display: inline-block;
}

.teacher-msg-name {
  float: left;
  clear: both;
  margin-bottom: 0px;
  font-weight: bold;
}

.parent-msg-name {
  float: right;
  clear: both;
  margin-bottom: 0px;
  font-weight: bold;
}

.teacher-msg {
  float: left;
  clear: both;
}

.parent-msg {
  float: right;
  clear: both;
}