// STUDENT CREATE

.new-student-header{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

.new-student-form{
  text-align: left;
  height: auto;
  width: 400px;
  background-color: white;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.new-student-input div{
  padding-top:10px;
}


// STUDENT SHOW
.single-student-photo{
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 4px solid white;
  border-radius: 5px;
  background-image: url('/images/nopicture.png');
  background-size: 100px 90px;
  margin-right: 20px;
  float: left; 

  img {
      height: 100px;
      width: 100px;
  }
}

.student-info div{
  display: inline-block;
}

.student-info h4 {
  text-align: left;
}

.student-body {
  display: inline-block;
  width: 43%;
  height: 100%;
  margin-left: 9%;
  left: 0px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.chat-body {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 100%;
}

#chat-box {
  left: 0;
  top: 2;
  backgroud-color: black;
  width: 90%;
  margin: 25px;
  height: 85%;
  position: absolute;
  overflow: auto;
}

#user-chat-input {
  margin: auto;
  margin-top: 100%;
  width: 80%;
}

.chat-button {
  margin-bottom: 2px;
}

.chat-form {
  width: 80%;
  display: inline-block;
}

.teacher-msg-name {
  float: left;
  clear: both;
  margin-bottom: 0px;
  font-weight: bold;

}

.parent-msg-name {
  float: right;
  clear: both;
  margin-bottom: 0px;
  font-weight: bold;
}

.teacher-msg {
  float: left;
  clear: both;
}

.parent-msg {
  float: right;
  clear: both;
}

.show-notes{
  text-align:left;
  margin-top: 50px;
}

.show-notes div{
  padding: 10px;
  border-radius: 5px;
}

.speech-bubble{

}

.teacher-bubble{
  width: 300px; 
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px; 
  padding: 10px;
  margin-right: 200px;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  float: left;
  clear: right;
}

.parent-bubble{
  width: 300px; 
  height: auto;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px; 
  padding: 10px;
  margin-left: 200px;
  word-wrap: break-word;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  float: right;
  clear: left;
}


// Student Notes

.note-content{
  height: 65%;
  margin-top: 10px;
  overflow-y: scroll;
  border: 2px solid #b3dcea;
  padding: 10px;
  border-radius:4px;
}


.note-form{
  padding: 20px;
  margin-top: 45px;
}

.note-display{
  margin-top: 20px;
  padding:10px;
}

.note-submission{
  padding-top: 10px;
  text-align: right;
}








