<!DOCTYPE html>
<html>
<head>
  <title>ParentTeacher</title>
  
  <link href="../../public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="../../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../public/lib/angular/angular.min.js"></script>
  <script src="../../public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
</head>
<body ng-app>
    <div ui-view></div>
</body>
</html>
