<div class="row">
<div class="col-md-2 col-md-offset-2 student">kids lol</div>
<div class="col-md-2 col-md-offset-1 student">kids lol</div>
<div class="col-md-2 col-md-offset-1 student">kids lol</div>
<div class="col-md-2 col-md-offset-2 student">kids lol</div>
<div class="col-md-2 col-md-offset-1 student">kids lol</div>
<div class="col-md-2 col-md-offset-1 student">kids lol</div>
</div>