.individual-student{
  text-align: left-center;
  height:40px;
  background-color: #F2F6FB;
  padding: 20px;
  border-radius: 5px;
  margin:10px;
  line-height: 0;
  display:block
}
.student-buttons{
  text-align: right;
  display: block;
  line-height: 0;
  padding-bottom:10px;
}