.new-school-form {
  text-align: left;
  height: auto;
  width: 400px;
  background-color: white;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

.new-school{
  padding-bottom:20px;
  }


