
<div class="row">
  <div class="col-md-2 col-md-offset-1 blue">Welcome, <%= @teacher.firstname %>!</div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 blue class-box">Class 1, Billy is in this class. info</div>
</div>